{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    } 
</style>

	<div class="container">
		<div class="row justify-content-center">
			<p class="col-9 fs-6 pt-2 m-2">
			The Southern African Institute for Policy and Research (<b>SAIPAR</b>) is an independent, 
			educational research and development oriented research centre. It is registered and 
			established under the laws of the Republic of Zambia since 2006. Through interdisciplinary
			research, publications, seminars, and dialogue facilitation, the Institute seeks to 
			contribute to improved policy making, research capacity, and governance. The Institute aims 
			to be a catalyst for new ideas and concepts on good governance and development in Zambia 
			and Southern Africa and a documentation centre to serve as an indispensable partner on research
			and policy analysis.
			</p>
            
            <p class="col-9 fs-6 pt-2 m-2">
            SAIPAR is the host of the Economic Policy Resource Centre (EPRC) and the Zambia Legal Information 
            Institute (ZambiaLII).
            </p>

			<h2 id="vision" class="text-black text-center pt-2 h3">Vision</h2>
			<p class="col-9 fs-6">A developed, democratic, sustainable, and well-informed Southern African region.</p>

			<h2 id="mission" class="text-black text-center pt-2 h3">Mission</h2>
			<p class="col-9 fs-6">To contribute to improved policy making in Southern Africa by developing and 
			disseminating quality research and publications and facilitating interdisciplinary 
			training and dialogue.</p>

		</div>

			<div data-bs-spy="scroll" data-bs-target="#navbar-about" data-bs-offset="0" class="scrollspy-example" tabindex="0">
				<section class="row justify-content-center align-content-center">
					<h4 id="#top"></h4>
					<h4 id="principles" class="text-black text-center pt-2 h3" >Guiding Principles</h4>
                    <ul class="col-md-9 fs-6 text-dark ms-5">
                        <li class="m-3 justify-content-between d-flex xalign-items-start">- A commitment to good governance, participatory democracy and the protection of human rights;</li>
                        <li class="m-3 justify-content-between d-flex align-items-start">- A belief in the dignity and worth of all human beings;</li>
                        <li class="m-3 justify-content-between d-flex align-items-start">- A belief that human rights are integral to peace and sustainable development;</li>
                        <li class="m-3 justify-content-between d-flex align-items-start">- The prioritization of transparency, ethics and accountability as paramount in matters of public policy;</li>
                        <li class="m-3 justify-content-between d-flex align-items-start">- The conviction that all individuals are entitled to equal rights, free from discrimination on the basis of gender, nationality, religious beliefs or physical capacity.</li>			
                    </ul>	
					<h4 id="objectives" class="text-black text-center p-1">Objectives</h4>
					<ol class="col-md-9 fs-6 text-dark ms-5">
						<li class="m-3 d-flex justify-content-between align-items-start pl-1">- Facilitate and contribute to the identification, analysis, understanding and informed responses to the major governance and development issues facing Southern Africa and the international community;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Generate greater international understanding and awareness of development and social problems within a global context;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Promote greater appreciation of and sensitization to the demands, duties and obligations of democracy, good governance and human rights, particularly amongst policy makers, leaders, media and the general public;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Conduct interdisciplinary research and capacity building;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Engage in publication of books, monographs and newsletters;</li>			
						<li class="m-3 d-flex justify-content-between align-items-start">- Collect and act as a repository for existing publications and commentaries;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Facilitate the exchange of ideas through debate and dialogue amongst academics, policy makers and civil society;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Establish links with national, regional and international educational and research institutes to facilitate and promote the research work of students, researchers, practitioners, guest researchers and visiting scholars;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Provide a forum through which groups and individuals can exchange information on regional and world development issues.</li>
					</ol>
					<h4 id="activities" class="text-black text-center p-1">Activities</h4>
					<p class="col-md-9 fw-normal fs-6"><b>SAIPAR pursues its objectives through various programs and initiatives, including through:</b></p>
					<ul class="col-md-9 fs-6 text-dark ms-5">
						<li class="m-3 d-flex justify-content-between align-items-start">- Organizing seminars and meetings with the stated purpose of bringing together people to discuss emerging key issues relating to development and governance;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Conducting research and widely disseminating research findings and proposals on policy issues so as to inform decision making by policy makers;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Publishing periodicals, books, monographs of studies, edited collections of source materials and discussion papers prepared for conferences held under the  auspices of the Institute;</li>
						<li class="m-3 d-flex justify-content-between align-items-start">- Serving as a research home for visiting students, academics and scholars who wish to affiliate with the Institute.</li>			
					</ul>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
