<!-- Footer -->
<footer class="footer mt-auto py-2 bg-light">
    <div class="container-fluid" style="padding:0;margin:0">
        <span class="text-muted sticky">
            <figure>
                <blockquote class="blockquote">
                    <p class="quote text-center fw-light fs-6">
                        Maano alazwa amukasumbwa<br>
                        Translation: "Wisdom may be found through observation of even the simplest things"
                    </p>
                </blockquote>
            </figure>
            <div class="container text-center">
                <a class="m-1" href="https://m.facebook.com/saiparlusaka/" data-mdb-ripple-color="dark"><i class="bi-facebook"></i></a>
                <a class="m-1" href="https://twitter.com/saiparzambia/" data-mdb-ripple-color="dark"><i class="bi-twitter"></i></a>
                <a class="m-1" href="https://zm.linkedin.com/company/southern-african-institute-for-policy-and-research/" data-mdb-ripple-color="dark"><i class="bi-linkedin"></i></a>
            </div>
            <p class="m-0 text-dark text-center ">&copy; 2021 Copyright</p>
        </span>
    </div>
</footer>
<!-- Footer -->
