{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <nav id="navbar-pubs" class="navbar navbar-light align-items-stretch p-3 sticky-top">
                <a class="navbar-brand pt-5 fs-5" href="#">Law Programs</a>
                <nav class="nav nav-pills flex-column">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-info m-1" href="#zlii">Zambia Legal Information Institute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-info m-1" href="#research-advocacy">Research & Advocacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-info m-1" href="#legal-commentary">Legal Commentary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-info m-1" href="#cle">Continuing Legal Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-info m-1" href="#consulting">Consulting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle text-dark bg-info m-1 ps-2" href="#jcu" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Judgement Commentary Unit (JCU)
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#jcu">JCU</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/programs/law/editorial-board/">Editorial Board</a></li>
                                </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-info m-1 ps-2" href="#rbkfl">The Robert & Barbara Kent Fellowship In Law</a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>

        <div class="col-9">


                <!--ZLLI-->
            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="zlii" class="pt-2 display-6">Zambia Legal Information Institute</h4>
					<p class="pe-5">
                        <a style="text-decoration: none;" href="/zlii/">ZambiaLII</a> is a pioneer in the free access to law movement and serves as a reliable and timely 
                        source of judicial decisions, legislation and statutory instruments. ZambiaLII’s three overarching
                        goals are to:
                        <ul>
                            <li>
                                Provide free and open access to Zambian law;
                            </li>
                            <li>
                                Gain support for the free access to law movement and draw involvement from all significant justice sector stakeholders; and
                            </li>
                            <li>
                                Develop and execute related projects for sustainable operation.
                            </li>

                        </ul>
                    </p>

                    <p>As the sole conduit of free and easy access to legal materials in Zambia, ZambiaLII fulfills a 
                    unique and critical need— both within and beyond the legal community. It is currently the fastest 
                    growing LII on the continent.
                    </p>
                </div>
            </div>

                        <!--Research and Advocacy--> 
            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="research-advocacy" class="pt-2 display-6">Research & Advocacy</h4>
					<p class="pe-5">
                        The division undertakes research projects and advocates for legal developments that promote the
                        rule of law and prudent resource governance. The intent is to provide practical policy research
                        and recommendations, and to work with government and non-government actors to propose and 
                        implement legal reforms.
                    </p>

                    <h5 class="ps-2"> Current Projects</h5>
                    <h6 class="ps-4"><i>Court Efficiency in Zambia</i></h6>
                    <p>
                        The project examines how efficiently the courts dispense justice and how ordinary citizens 
                        seeking legal remedies interface with the judicial system.  Research findings will inform the 
                        development of norms and standards to facilitate sound case management models, case flow management,
                        accountability and evaluation of court performance.
                    </p>

                    <h6 class="ps-4"><i>The Effects of Financialization along the Copper Value Chain</i></h6>
                    <p>
                        This project studies the global consequences of financialization by tracking copper through its
                        value chain – from the mining pits in Zambia to trading firms in Switzerland and ultimately to its 
                        final destination in China.  The goal of the study is to come to a better understanding of 
                        Switzerland’s role in the global economy and the consequences of commodity trade on local life 
                        worlds in Zambia and China. The study will be conducted by a multidisciplinary team led by Rita 
                        Kesserling of the University of Basel, and will combine anthropological, economic, legal, and 
                        geographical analyses on financialization and global production networks.
                    </p>

                    <h6 class="ps-4"><i>Zambia’s Mining Regulatory Framework</i></h6>
                    <p>
                        The legal framework governing mining activities in Zambia is fraught with critical gaps that 
                        perpetuate knowledge asymmetry, undermine transparency, and undermine the capacity of regulatory
                        agencies to deliver on their mandates. Moreover, while Zambia is EITI compliant, the lack of an EITI
                        law and the gaps in the current regulatory infrastructure do not make full EITI compliance possible. 
                        This project identifies and analyzes these gaps and makes recommendations.
                    </p>
                </div>
            </div>

                        <!--Legal commentary-->
            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="legal-commentary" class="pt-2 display-6">Legal Commentary</h4>
					<p class="pe-5">
                        Timely analysis of legal developments empowers ordinary citizens and informs the advocacy 
                        efforts of civil society groups.  There are not many sources of quality legal analysis in the 
                        region, and the legal division addresses this gap by operating <a style="text-decoration: none;" href="#">a case commentary unit</a> to 
                        analyze new judicial decisions and other significant legal developments in Zambia and in the 
                        wider region.  The division will soon expand its commentary service to legislative and policy 
                        developments.
                    </p>

                    <p>
                        The division also operates <i>The Repository of Southern African Legal Commentary</i>, an online 
                        digital collection of legal commentary from the region, including out-of-print monographs, 
                        law journals, and graduate student research papers selected and assembled by Southern African 
                        Legal scholars. This prototype aims to demonstrate the value of a digital repository of legal 
                        commentary in the region.
                    </p>
                </div>
            </div>

                    <!--Continuing Legal Education -->
            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="cle" class="pt-2 display-6">Continuing Legal Education</h4>
					<p class="pe-5">
                        The division runs an ad-hoc CLE program taught by leading international legal experts. The goal
                        of the program is to update and enhance the skills of legal professionals in Zambia and the 
                        wider region. Past instructors in the CLE program include:
                        <ul>
                            <li>Charles Whitehead</li>
                            <li>George Hay</li>
                            <li>Pamela Sambo</li>
                            <li>Muna Ndulo</li>
                            <li>Peter Martin</li>
                            <li>Jim Hanks</li>
                            <li>Olufunmilayo Arewa</li>
                            <li>Sara Lulo</li>
                        </ul>
                    </p>
                </div>
            </div>

                        <!--Consulting-->
            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="consulting" class="pt-2 display-6">Consulting</h4>
					<p class="pe-5">
                        The legal division welcomes ongoing or short-term consulting and research projects on a wide 
                        range of rule of law and governance issues in the Southern African region. SAIPAR maintains a 
                        network of affiliates with expert knowledge in rule of law and investment law issues. The 
                        division also assists in the preparation and development of policy papers and plays a 
                        co-ordination or support role to NGOs, academic researchers, or government actors seeking to 
                        implement programs focused on the enhancement of the rule of law.

                        <h6 class="ps-2">Areas of expertise</h6>
                        <ul>
                            <li>Constitutional Law</li>
                            <li>Natural Resource Governance</li>
                            <li>International Investment Law</li>
                            <li>Election Law</li>
                            <li>Environmental Law</li>
                        </ul>
                    </p>
                </div>
            </div>
                  
            <!--JCU-->

            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="jcu" class="pt-2 display-6">Judiciary Commentary Unit</h4>
                    <h6 class="ps-3"><i>About JCU</i></h6>
					<p class="pe-5">
                        The JCU is a unit that operates within the legal division of the Southern African Institute for
                        Policy and Development. Following in the footsteps of similar initiatives in other regions, the
                        JCU provides commentaries on select judgments of terminal courts (and in exceptional cases, 
                        non-terminal courts) in the Southern African Region. The purpose of the unit is to raise the 
                        discourse around the jurisprudence of these important courts and in so doing, stimulate debate 
                        on topics of legal significance and relevance.
                    </p>
                    <p>
                        Each commentary aims to: (a) clarify and interpret the decision; (b) survey the development of 
                        the area of law impacted by the decision; (c) identify any uncertainties and gaps created by the
                        decision; and (d) provide a commentary on the wider socio-political and economic implications of 
                        the judicial decision in question.
                    </p>
                    <p> Read the latest posts <a style="text-decoration: none;" href="#">HERE</a>, or download the latest issue <a style="text-decoration: none;" href="#">HERE</a>.
                    </p>
                    <h6 class="ps-3"><i>Scope</i></h6>
                    <p>
                        The ultimate goal of the JCU is to comment on judgments from a wide sampling of terminal courts
                        in the region. To sustainably arrive at this objective, the JCU will expand its scope 
                        incrementally. This inaugural volume deals only with Zambian jurisprudence. In Volume II, the
                        JCU will expand its reach to one or more other jurisdictions, and as time goes by, continue its
                        expansion program until the majority of regional terminal courts are covered. The current 
                        editorial board can be found <a style="text-decoration: none;" href="#">here</a>, as can their bios <a style="text-decoration: none;" href="#">here</a>.
                    </p>
                    <h6 class="ps-3"><i>Frequency</i></h6>
                    <p>
                        The JCU will publish its commentaries twice a year: in January and in July.
                    </p>

                </div>
            </div>

            <!--RBKFL-->

            <div class="">
				<div data-bs-spy="scroll" data-bs-target="#navbar-pubs" data-bs-offset="0" tabindex="0">
					<div class="">
					<h4 id="rbkfl" class="pt-2 display-6">The Robert and Barbara Kent Fellowship in Law</h4>
					<p class="pe-5">
                        The Robert and Barbara Kent Fellowship is a six-month fellowship that allows an outstanding law
                        graduate to pursue research in an area of interest at SAIPAR. The fellowship was established by
                        the SAIPAR Board in 2014 in honour of Professor Robert Kent. The Fellowship Scheme recognizes
                        the immense contribution of Prof. Kent to legal education in Zambia. Prof. Kent served with 
                        distinction as the second Dean of the School of Law of the University of Zambia. He also helped
                        establish the Law Development Commission of Zambia and facilitated the postgraduate education of
                        many Zambian lawyers. The fellowship is supported by an endowment fund established by the   
                        SAIPAR Board.
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}